form {
  max-width: 450px;
  width: 100%;
  margin: auto;
  padding: 20px 0;
  font-size: 1.5rem;

  .mat-form {
    width: 100%;
  }

  #types-label {
    display: block;
    margin: 10px 0;
  }

  .radio-btns-wrapper {
    display: block;
    width: 100%;

    .radio-btn {
      margin: 0 10px 0 0;
    }
  }

  .chips-wrapper {
    margin: 20px auto;

    .chips-list {
      margin: 10px 0;
    }
  }
}
