form {
  max-width: 250px;
  width: 100%;
  margin: auto;
  font-size: 1.5rem;
  padding: 20px 0;

  .mat-form {
    width: 100%;
  }

  button {
    margin: 10px 0;
    font-size: 1.5rem;

    &:disabled {
      cursor: not-allowed;
    }
  }
}
