<main>
  <div class="container">
    <app-search-brewery
      (valueChange)="setQuery($event)"
      (selectChange)="setState($event)"
      (typeChange)="setType($event)"
    ></app-search-brewery>
    <div class="breweries">
      <ng-container *ngIf="breweries">
        <div *ngFor="let brewery of breweries" class="brewery">
          <app-brewery [brewery]="brewery"></app-brewery>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="loader" *ngIf="loading">
    <mat-progress-spinner color="primary" mode="indeterminate" value="75">
    </mat-progress-spinner>
  </div>
</main>
