h1 {
  font-size: 4rem;
  text-align: center;
  letter-spacing: 7px;
  text-shadow: -1px -1px 1px rgb(78, 40, 13), 2px 2px 1px rgb(143, 91, 67),
    3px 3px 1px rgb(146, 115, 101);
}

.brews-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;

  .top-brew {
    display: flex;
    flex-direction: column;
    flex: 0 1 300px;
    margin: 20px;
    background: #ecad53;
    box-shadow: 10px 0 20px -10px #bbb, -10px 0 20px -10px #ccc;

    h2 {
      text-align: center;
      text-transform: uppercase;
      padding: 10px;
    }

    p {
      font-size: 1.4rem;
      padding: 0 10px;
      align-self: flex-end;
    }
  }
}
